@model KTSite.Models.ExcelUploadsForShopsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="overlay">
     
     <div>

<div class="container">
</div>

        <div class="row">
            <div class="col-6 ">
            <h2 class="text-primary">Add FB Shop Orders</h2>
        </div>
    </div>
    <div class="row">
            <div class="col-12 ">
            <h5 style="color: red">Make sure to convert CSV file to excel, you can use this link: <a href='https://convertio.co/csv-xlsx/' target="_blank">Convert To Excel</a></h5>
        </div>
    </div>
    <div class="row">
                    <div class="col-6">
                        <label asp-for="excelUploadsForShops.StoreId">Store</label>
                        @Html.DropDownListFor(m => m.excelUploadsForShops.StoreId, Model.StoresList , "Select Store",
                       new { @class = "form-control" })
                        <span asp-validation-for="excelUploadsForShops.StoreId" class="text-danger"></span>
                    </div>
                </div>
                <br/>
        <div class="row">
                <div class="col-2">
            <div>
                <h2 class="text-primary" style="font-size:20px">Upload Orders From Excel </h2>
            </div>
        </div>
        <div class="col-2 text-left">
            <div>
                <input id="CSVFile" type="file">
            </div>
        </div>
        <div class="col-2 text-left">
            <button class="btn btn-primary" onclick="Submit()" id="btnUpload">Upload</button>
            <img src="~/gif/WMDx.gif" alt="Loader" style="height:40px; width: 40px; display:none;" id="divLoader">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6 ">
            <h2 class="text-primary">Update Tracking </h2>
        </div>
    </div>
    <div class="row">
      <div class="form-group row">
                    
                </div>
        <div class="col-6 text-left">
                @*@using (Html.BeginForm("Export", "OrderAdmin",FormMethod.Post))//Model.excelUploadsForShops.StoreId}))
                {*@
                    <form asp-action="Export" asp-controller="OrderAdmin" method="POST" data-ajax-method="POST" data-ajax-complete="OnComplete" data-ajax="true">
                <div class="col-12">
                        <label asp-for="excelUploadsForShops.StoreId">Store</label>
                        @Html.DropDownListFor(m => m.excelUploadsForShops.StoreId, Model.StoresListTR , "Select Store",
                       new { @class = "form-control" })
                        <span asp-validation-for="excelUploadsForShops.StoreId" class="text-danger"></span>
                    </div>
                    <br/>
                <button type="submit" class="btn btn-primary" style="background-color:forestgreen" >@*onClick="showLoader()"*@
                    <i class="fas fa-file-download"></i>&nbsp;Download Tracking
                </button><img src="~/gif/WMDx.gif" alt="Loader" style="height:40px; width: 40px; display:none;" id="divLoader2">
                </form>
            @*}*@
        </div>
      </div>
</div>
</div>
@section Scripts{
  @* <script> window.onload = function () { $("#divLoader").show(); } </script>*@
  
  <script type="text/javascript">
      function showLoader(){$("#divLoader2").show();}  
      function OnComplete(){$("#divLoader2").hide();}//window.alert('COMPLETEEEEE');}//

       /* async */function Submit() {
            var storeId = document.getElementById('excelUploadsForShops_StoreId').value;
           
            $("#divLoader").show();
            document.getElementById("btnUpload").disabled = true;
            //await new Promise(r => setTimeout(r, 4000));
            var pdata = new FormData();
            
            var files = $("#CSVFile").get(0).files;
            
            if(files.length == 0)
            {
                swal("Error!", "No File Uploaded!", "error").then((value) => { location.reload(); })
            }
            else if(!storeId)
            {
                swal("Error!", "Please Choose a store and try again!", "error").then((value) => { location.reload(); })
            }
            else
            {
            pdata.append('CSVFile', files[0]);
            pdata.append('storeId', storeId);
            var CSVFile = files[0];
            
            $.ajax({ 
                url: "/Admin/OrderAdmin/SubmitForShops",
                type: "POST",
                //type: "JSON",
                data:pdata,//{storeId: storeId, storeId2: storeId2},//pdata,//,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.success == 0) {

                        swal("Error!", data.excep, "error").then((value) => { location.reload(); })

                    }
                    else {

                        swal("Success!", data.excep, "success").then((value) => { location.reload(); })
                    }
                },
                error: function (data) {
                    window.alert('err');
                    $("#divLoader").hide();
                    document.getElementById("btnUplaod").disabled = false;
                     swal("Error!", "Unknown Error Occured", "error").then((value) => { location.reload(); })
                }
            });
            }
        }
    </script>

    <script type="text/javascript">
        function Export() {
            
            var pdata = new FormData();
            swal({
                title: "Are you sure?",
                text: "Csv file will be created, are you sure?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $("#divLoader").show();
                        $.ajax({
                            url: "/Admin/OrderAdmin/Export",
                            type: "POST",
                            data: pdata,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                $("#divLoader").hide();
                                swal("Success!", "Success!", "success").then((value) => { })
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $("#divLoader").hide();
                                var respJson = XMLHttpRequest.responseText;
                                if (respJson.includes("exceptStatusInProgress")) {
                                    swal("Error!", "Cannot create file, some orders are already in status In Progress.", "error").then((value) => { location.reload(); })
                                }
                                else if (respJson.includes("exceptStatusNoAcceptedLeft")) {
                                    swal("Error!", "No Orders In Status Accepted left.", "error").then((value) => { location.reload(); })
                                }
                                else {
                                    swal("Error!", "Unknonw Error Occured!.", "error").then((value) => { location.reload(); })
                                }
                            }
                        });
                    }
                });
        }
    </script>
    }
