@page
@{ ViewData["Title"] = "About KT"; }
<div class="col-12 text-center">
    <div class="col-12 text-center">
        <img src="~/Images/warehouse.jpeg" alt="warehouse" style="height:400px; width: 800px" />
    </div>
</div>
<br />
<br />
<br />
<div class="col-12 text-left">
    <div class="col-3 text-left">
        <h3 style="color:cornflowerblue;font-size:50px;">Who are we?</h3>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group" style="font-size: 25px;">
            <div class="col-2 text-center">
            </div>
            <div class="col-8 text-left">
                <p>

                </p>
                </br>
                <p>
                    KT Marketing Is a private drop shipping  supplier founded in 2017.
                </p>
                <p>
                    All Of our Items are Owned by us and located in a warehouse in NY,
                    We Provide a very reliable fulfillment center.
                </p>
                <p>
                    <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> all orders are shipped within less then 24 hours and provided with a valid tracking number by USPS
                </p>
                <p>
                    <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> Support system for any issues.
                </p>
                <p>
                    <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> easy-to-use system
                </p>
                <p>
                    <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> Very competitive prices
                </p>
                <p>
                    Our inventory is constantly growing, Our goal is to become the most profitable platform for Drop shippers around the US.
                </p>
                <p>

                    Join Us now, and take your business to the next level.
                </p>

            </div>
        </div>
    </div>
    <div class="col-12 text-center" style="font-size: 30px;font-weight:bolder">
        <div class="col-2">
        </div>
        <div class="col-11 text-left">
            Meet The team
        </div>
    </div>
    <div class="row">
        <p>  </p>
        Kobi, Ownerdddd
    </div>
    <div class="row">
        <img src="~/Images/Kobi.jpeg" alt="Kobi" style="height:220px; width: 200px" />
        </div>
        <div class="row">
            <div class="form-group">
                <p>  </p>
                Kobi, Owner
                <img src="~/Images/Kobi.jpeg" alt="Kobi" style="height:220px; width: 200px" />
            </div>

            <div class="form-group">
                <div class="col-4 text-center" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
                    <p>  </p>
                    Tomer, Owner
                    <img src="~/Images/Tomer.jpeg" alt="Tomer" style="height:220px; width: 200px" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-2">
                </div>
                <div class="col-4 text-center" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
                    <p>  </p>
                    Trevor, Logistics Manager
                    <img src="~/Images/Trevor.jpeg" alt="Trevor" style="height:220px; width: 200px" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-4 text-center" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
                    <p>  </p>
                    Brian, Logistics Manager
                    <img src="~/Images/Brian.jpeg" alt="Brian" style="height:220px; width: 200px" />
                </div>
            </div>
        </div>
