@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "email Confirmed! You can now login."; }

<h1>@ViewData["Title"]</h1>
<h1 style="font-size: 20px">
    <a href="/Identity/Account/Login">Login Page.</a>
</h1>