@page
@{ ViewData["Title"] = "Help"; }
<h3 style="color:cornflowerblue;font-size:40px;">Get Started - Video tutorials</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 style="color:cornflowerblue;font-size:25px;">Inventory</h3>
            <p>
                Take a look at our Inventory Page.
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OwqUEVsLzlY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
</div>
<br />
<br />
@*******************************@
<div class="row" style="background-color:lightgray">
    <div class="col-md-4">
        <div class="form-group">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2HLm0Nw38PY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 style="color:cornflowerblue;font-size:25px;">Stores</h3>
            <p>
                Add Your stores in your account to start adding Orders.
            </p>
        </div>
    </div>
</div>
<br />
<br />
@*******************************@
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 style="color:cornflowerblue;font-size:25px;">Payment</h3>
            <p>
                Learn how to load your balance before starting to process your orders.
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fnApwYsRiPM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
</div>
<br />
<br />
@*******************************@
<div class="row" style="background-color:lightgray">
    <div class="col-md-4">
        <div class="form-group">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GtayjqAiDp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 style="color:cornflowerblue;font-size:25px;">Orders</h3>
            <p>
                Create and manage your orders.
            </p>
        </div>
    </div>
</div>