@{ ViewData["Title"] = "Home Page"; }
<body>
    <div class="col-12 text-center">
        <a class="btn btn-primary"
           style="background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    width: 400px"
           href="/Identity/Account/Register"> &nbsp; Sign Up Now</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary"
           style="background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    width: 400px"
           href='https://www.amazon.com/sp?_encoding=UTF8&asin=&isAmazonFulfilled=&isCBA=&marketplaceID=ATVPDKIKX0DER&orderID=&protocol=current&seller=A3SR1OERCH239J&sshmPath=' target="_blank"> &nbsp; Our Amazon Store</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary"
           style="background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    width: 400px"
           href="/UserRole/ShowAllProductsUser"> &nbsp; Products List</a>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="col-12 text-center">
                <img src="~/Images/ktatCover.jpeg" alt="Site Logo" style="height:600px; width: 1100px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-group">
                <iframe width="660" height="450" src="https://www.youtube.com/embed/KqSQ_Y9rqUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <div class="col-12 text-center">
            <img src="~/Images/warehouse.jpeg" alt="warehouse" style="height:400px; width: 800px" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="col-12 text-left">
        <div class="col-3 text-left">
            <h3 style="color:cornflowerblue;font-size:50px;">Who are we?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="font-size: 25px;">
                <div class="col-2 text-center">
                </div>
                <div class="col-8 text-left">
                    <p>

                    </p>
                    </br>
                    <p>
                        KT Marketing Is a private drop shipping  supplier founded in 2017.
                    </p>
                    <p>
                        All Of our products are Owned by us and located in a warehouse in NY,
                        We Provide a very reliable fulfillment center.
                    </p>
                    <p>
                        <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> all orders are shipped within less then 24 hours and provided with a valid tracking number by USPS
                    </p>
                    <p>
                        <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> Support system for any issues.
                    </p>
                    <p>
                        <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> easy-to-use system
                    </p>
                    <p>
                        <img src="~/Images/bullet point.png" alt="bullet point" style="height:40px; width: 40px" /> Very competitive prices
                    </p>
                    <p>
                        Our inventory is constantly growing, Our goal is to become the most profitable platform for Drop shippers around the US.
                    </p>
                    <p>

                        Join Us now, and take your business to the next level.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-12 text-center" style="font-size: 30px;font-weight:bolder">
            <div class="col-2">
            </div>
            <div class="col-11 text-left">
                Meet The team
            </div>
        </div>
        <div class="col-6 text-center" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
            <div class="form-group">
                <p>  </p>
                Kobi, Owner <p>  </p>
                <img src="~/Images/Kobi.jpeg" alt="Kobi" style="height:220px; width: 200px" />
            </div>
        </div>
        <div class="col-6 text-left" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
            <div class="form-group">
                <p>  </p>
                Tomer, Owner <p>  </p>
                <img src="~/Images/Tomer.jpeg" alt="Tomer" style="height:220px; width: 200px" />
            </div>
        </div>
        <div class="col-6 text-center" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
            <div class="form-group">
                <p>  </p>
                Trevor, Logistics Manager <p>  </p>
                <img src="~/Images/Trevor.jpeg" alt="Trevor" style="height:220px; width: 200px" />
            </div>
        </div>
        <div class="col-6 text-left" style="font-size: 25px;font-weight:bolder; color: mediumvioletred">
            <div class="form-group">
                <p>  </p>
                Brian, Logistics Manager <p>  </p>
                <img src="~/Images/Brian.jpeg" alt="Brian" style="height:220px; width: 200px" />
            </div>
        </div>
    </div>
    <div class="row" style="background-color:lightgray">
    </div>
</body>
@section Scripts{
}
